@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,300;0,400;1,500&display=swap");

.btn-main {
  background-image: linear-gradient(to right, #ff8fbc, #8bc2f2);
  border: none;
  color: white;
  font-family: "Barlow", sans-serif;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  opacity: 1;
  transition: 1s;
}

.btn-main-color-iverse {
  background-image: linear-gradient(to right, #8bc2f2, #ff8fbc);
  border: none;
  color: white;
  font-family: "Barlow", sans-serif;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  opacity: 1;
  transition: 1s;
}

.btn-main:hover,
.btn-main-color-iverse:hover {
  opacity: 0.8;
  transition: 1s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.btn-outline {
  border-radius: 5px;
  font-family: "Barlow", sans-serif;
  color: grey;
  background-color: white;
  border: none;
  transition: 1s;
}

.btn-outline:hover {
  box-shadow: none;
  background-image: linear-gradient(to right, #ff8fbc, #8bc2f2);
  color: white;
  border-radius: 5px;
  font-family: "Barlow", sans-serif;
  transition: 1s;
}

.btn-inverse {
  background-color: white;
  border: none;
  color: #ff8fbc;
  font-family: "Barlow", sans-serif;
  border-radius: 5px;
  opacity: 1;
  transition: 1s;
}

.btn-inverse:hover {
  background-color: wheat;
  color: #8bc2f2;
  transition: 1s;
}

.btn-max {
  width: 100%;
}

.btn-med {
  width: 60%;
}

.btn-min {
  width: 40%;
}

.btn-p-min {
  padding: 0.5rem 0.5rem;
}

.btn-main:focus,
.btn-main-color-iverse:focus,
.btn-outline:focus,
.btn-inverse:focus {
  outline: none;
}
