.dashboard-section__card {
  width: 100%;
  box-shadow: 0 14px 28px #8bc2f21f, 0 10px 10px #8bc2f23d;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 5rem;
}

h5{
    color: grey;
    text-align: left;
}

p{
    color: grey;
    text-align: center;
}

button{
    align-self: center;
}
