.dashboard-section__card {
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-image: linear-gradient(to right, #ff8fbc, #8bc2f2);
  border: none !important;
  padding: 5rem;
}

.dashboard-section__incomplete-event{
  color: white;
  background-image: linear-gradient(to right, #ff8fbc, #f383b0);
  margin-top: -1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 1rem;
  padding: 5px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}


.dashboard-section__list-card {
  width: 100%;
  box-shadow: 0 2px 4px #0000001f, 0 5px 5px #0000003d;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 1rem 1rem 1rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem !important;
}

.dashboard-section__list-card:hover {
  box-shadow: 0 12px 24px #0000001f, 0 10px 10px #0000003d;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.h5 {
  font-weight: bolder !important;
}

p {
  text-align: center;
}

button {
  align-self: center;
}

.dashboard-section__breadcrumb ol {
  background-color: #8bc2f2;
  border-radius: 5px;
}

.dashboard-section__breadcrumb ol li a {
  color: grey;
}

.dashboard-section__breadcrumb ol li.active {
  color: white;
}
