.avatar {
  width: 2.5rem;
  height: 2.5rem;
  display: flex; 
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25%;
  left: 2rem;
}

.avatar img {
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}