.create-event__pill {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  padding-top: 0.5rem !important;
  margin: 1rem;
}

.create-event__pill:hover {
  cursor: pointer;
  background-color: #d8d9da;
}

.react-date-picker__wrapper {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid lightgrey !important;
}

.react-time-picker__wrapper {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid lightgrey !important;
}

.input-range__track--active{
  background: #8bc2f2 !important;
}

.input-range__slider{
  background: #8bc2f2 !important;
  border: none !important;
}

.input-range__label-container{
  display: none;
}
