.create-event__pill {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
  margin: 1rem;
}

.create-event__pill:hover {
  cursor: pointer;
  background-color: #d8d9da;
}

.react-date-picker__wrapper {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid lightgrey !important;
}

.react-time-picker__wrapper {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid lightgrey !important;
}
