.profile__options-card {
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: white;
  border: none !important;
  border-radius: 0.5rem !important;
  padding: 2rem;
  min-height: 11rem;
}

.profile__options-card:hover {
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16), 0 10px 20px rgba(0, 0, 0, 0.23);
}

.profile__greeting-wrapper {
  background-color: white;
  padding: 1rem;
}

.profile__greeting-temp-user-image {
  font-size: 3rem;
  color: grey;
  margin-top: 0.7rem;
}

.profile__greeting-user-name {
  font-size: 1.5rem;
  font-weight: lighter;
  color: grey;
}

.profile__greeting-user-hello {
  font-size: 1rem;
  font-weight: bold;
  color: grey;
}

.profile__greeting-right-icon {
  position: absolute;
  right: 1rem;
  top: 20%;
}
